<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo"></a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
    
            <a class="navbar-item " routerLink="/" >Home</a>
      
            <a class="navbar-item" routerLink="/about">About</a>
  
            <a class="navbar-item" routerLink="/contact">Contact</a>
  
            <a class="navbar-item" href="#" routerLink="/contact">Apply Now</a>
          </div>
      </div>
  </nav>