
  <footer class="footer">
    <div class="has-text-centered">
      <p class="is-size-9">UMZANA 2021</p>
      <div class="columns is-mobile">
        <div class="column">
        </div>
        <div class="column">
        </div>
        <div class="column">
            <a href="#" target="_blank" class="subtitle"><fa-icon [icon]="faTwitter" style="color: #55acee;"></fa-icon></a>
          </div>
          <div class="column">
            <a href="#" target="_blank" class="subtitle"><fa-icon [icon]="faFacebook" style="color: #4A68A6;"></fa-icon></a>
          </div>
          <div class="column">
            <a href="#" target="_blank" class="subtitle"><fa-icon [icon]="faInstagram" style="color: #B050B8;"></fa-icon></a>
          </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </footer>