<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="hero is-small is-link">
      <div class="hero-body">
        <p class="title">
          Contact Us
        </p>
        <p class="subtitle">
          We'd love to hear from you. Feel free to fill in the contact form or use one of the other methods to get in touch with us.
        </p>
    </div>
  </section>
      <br>

      <div class="tile is-ancestor ">
        <div class="tile is-parent">
          <article class="tile is-child notification is-link is-light">
            <p class="title"></p>
            <p class="subtitle"></p>


            <div class="content">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="">
                  <input class="input" type="email" placeholder="Email input">
                  
                </div>
              </div>
              
              <div class="content">
                <div class="field">
                  <label class="label">Cellphone</label>
                  <div class="control">
                    <input class="input" type="number" placeholder="Number input">
                  </div>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="How can we help you?"></textarea>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="tile is-parent is-vertical has-text-centered">
          <article class="tile is-child ">
            <div class="content">
                  <p class="subtitle">EMAIL</p>
                  <p class="h2">umzana@gmail.com</p>
            </div>
            
          <br>
          <div class="is-divider" data-content=""></div>


          <div class="content">
            <p class="subtitle">CELLPHONE</p>
            <p class="h2">083 123 4567</p>
          </div>
          <br>
          <div class="content">
            <p class="subtitle">POSTAL ADDRESS</p>
            <p class="h2">15 Van Vollenhoven street</p>
          </div>
          </article>
          
        </div>
      </div>
        
      

  </body>
</html>