
    <section class="hero is-small is-light">
        <div class="hero-body has-text-centered">
          <p class="subtitle">ABOUT US</p>
          <p class="h1">Umzana is an accredited student accomodation. We offer safe and secure accomodation to share.
            </p>
        </div>
      </section>
  
     <section class="hero is-small">
     <h3><span>Services and Facilites</span></h3>

       <div class="content px-4">
      <p class="heading">Safety and Security</p>
            <div class="icons">
              <div class="columns is-mobile has-text-centered">
                  <div class="column">
                      <mat-icon class ="i">fingerprint</mat-icon>
                      <p>Biometric Access</p>
                  </div>
                  <div class="column">
                      <mat-icon class ="i">camera_outdoor</mat-icon>
                      <p>CCTV Security Surveillance</p>
                  </div>
                  <div class="column"></div>
                  <div class="column"></div>
                  <div class="column"></div>
              </div>
      </div>

      

      <p  class="heading">Fully furnished rooms to share equipped with</p>
      
                <div class="icons">
                  <div class="columns is-mobile has-text-centered">
                      <div class="column">
                          <mat-icon class ="i">single_bed</mat-icon>
                          <p>Single bed</p>
                      </div>
                      <div class="column">
                          <mat-icon class ="i">light</mat-icon>
                          <p>Desk, Chair & Lamp</p>
                      </div>
                      <div class="column">
                          <mat-icon class ="i">checkroom</mat-icon>
                          <p>Wardrobes</p>
                      </div>
                      <div class="column">
                          <mat-icon class ="i">shower</mat-icon>
                          <p>Shared toilets and bathrooms</p>
                      </div>
                      <div class="column"></div>
                      <div class="column"></div>
                  </div>
                </div>

      
        

      <p  class="heading" >Kitchens, equipped with</p>
      <div class="icons">
        <div class="columns is-mobile has-text-centered">
            <div class="column has">
                <mat-icon class ="i">kitchen</mat-icon>
                <p>Freezers & Refrigerators</p>
            </div>
            <div class="column">
                <mat-icon class ="i">microwave</mat-icon>
                <p>Microwaves</p>
            </div>
            <div class="column">
                <mat-icon class ="i">countertops</mat-icon>
                <p>Fitted cupboards and Sinks</p>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
      </div>
      
      <p class="heading">Additional services include:</p>
      <div class="icons">
        <div class="columns is-mobile has-text-centered">
        <div class="column">
            <mat-icon class ="i">wifi</mat-icon>
            <p>Uncapped Wi-Fi</p>
        </div>
        <div class="column">
            <mat-icon class ="i">local_printshop</mat-icon>
            <p>Printing services</p>
        </div>
        <div class="column">
            <mat-icon class ="i">local_laundry_service</mat-icon>
            <p>Laundry Services</p>
        </div>
        <div class="column">
            <mat-icon class ="i">electrical_services</mat-icon>
            <p>Prepaid Electricity</p>
        </div>
        <div class="column">
            <mat-icon class ="i">cleaning_services</mat-icon>
            <p>Cleaning of Communal Areas</p>
        </div>
        <div class="column"></div>
        </div>
      </div>
      
      </div>
     </section>
       
      <section class="hero is-small">
        <div class="hero-body">
  
          <div class="tile is-ancestor box">
            <div class="tile is-vertical is-parent">
              <div class="tile is-child">
                <p class="h2">
                  Umzana is located at 22 Sabie River Street, Vanderbijlpark. We are convinently located 1.7km from 
                  South East Boulevard Shopping Centre. We are also 2.4km away from Riverside Boulevard Shopping Centre.
                  Umzana is 3.4km from the NWU Vaal campus and 3.7km away from VUT.
                </p>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-child container">
                <p class="has-text-centered">
                <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.274659361308!2d27.85454131504128!3d-26.735609983204263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9459156fefd75f%3A0x5e1b4720a525db95!2s22%20Sabie%20River%20St%2C%20Vanderbijlpark%20S.%20E.%204%2C%20Vanderbijlpark%2C%201911!5e0!3m2!1sen!2sza!4v1612748319552!5m2!1sen!2sza" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
               </p> 
              </div>
            </div>
          </div>
          
        </div>
      </section>
  
      