
    <section class="hero is-small is-light">
        <div class="hero-body has-text-centered">
          <p class="title">
            Contact Us
          </p>
          <p class="subtitle">
            We'd love to hear from you. Feel free to fill in the contact form or use one of the other methods to get in touch with us.
          </p>
      </div>
    </section>
  
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box ">
  
              <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
                <div class="content">
                  <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                      <input id="name" class="input form-control" type="text" placeholder="Text input" formControlName="name" required>
                      <ng-container *ngFor="let validation of validation_messages.name">
                        <p class="help is-danger" *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</p>
                      </ng-container>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="">
                      <input class="input form-control" type="email" placeholder="Email input" formControlName="email">
                      <ng-container *ngFor="let validation of validation_messages.email">
                        <p class="help is-danger" *ngIf="exampleForm.get('email').hasError(validation.type) && (exampleForm.get('email').dirty || exampleForm.get('email').touched)">{{validation.message}}</p>
                        
                      </ng-container>
                    </div>
                  </div>
                  
                  <div class="content">
                    <div class="field">
                      <label class="label">Cellphone</label>
                      <div class="control">
                        <input class="input form-control" type="tel" placeholder="Number input" formControlName="cell" minlength="10" maxlength="10">
                        <ng-container *ngFor="let validation of validation_messages.cell">
                          <p class="help is-danger" *ngIf="exampleForm.get('cell').hasError(validation.type) && (exampleForm.get('cell').dirty || exampleForm.get('cell').touched)">{{validation.message}}</p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea form-control" placeholder="How can we help you?" formControlName="message"></textarea>
                      <ng-container *ngFor="let validation of validation_messages.message">
                        <p class="help is-danger" *ngIf="exampleForm.get('message').hasError(validation.type) && (exampleForm.get('message').dirty || exampleForm.get('message').touched)">{{validation.message}}</p>
                      </ng-container>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link" type="submit" [disabled]="!exampleForm.valid">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            
                
              
              
            </article>
          </div>
  
          <div class="tile is-parent is-vertical has-text-centered">
            <article class="tile is-child box center">
              <div class="content">
                    <p class="subtitle">email</p>
                    <p class="subtitle">umzana@gmail.com</p>
              </div>
              
            <strong><hr></strong>
            <div class="is-divider" data-content=""></div>
            <section class="is-divider"></section>
  
            <div class="content">
              <p class="subtitle">telephone</p>
              <p class="subtitle">083 271 6747</p>
            </div>
  
            <strong><hr></strong>
            <div class="is-divider" data-content=""></div>
            <section class="is-divider"></section>
  
            <div class="content">
              <p class="subtitle">address</p>
              <p class="subtitle">22 Sabie River Street, Vanderbijlpark, S. E. 4,
                Vanderbijlpark, 1911</p>
            </div>
            </article>
            
          </div>
        </div>