
<section class="hero is-fullheight-with-navbar imgs "></section>

<section class="hero is-small">
  <div class="hero-body has-text-centered">
    <hr>
    <p class="h4">
      Dedicated to providing affordable, safe and secure accomodation.
    </p>
    <hr>
  </div>
</section>

<section class="hero is-small">
  <div class="hero-body">
    <div class="gallery">
      <div class="columns">
        <div class="column x2">
          <figure class="image is-is-square">
            <img src="../../assets/homepage/room.jpg">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-square">
            <img src="../../assets/homepage/picmix.jpg">
          </figure>
        </div>
        <div class="column x2">
          <figure class="image is-fullwidth">
            <img src="../../assets/homepage/share.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium">
  <div class=" tile is-ancestor is-gapless ">
    <div class="tile is-vertical is-parent my-0 py-0">
      <article class="tile is-child x1">
        <p class="h2 ">Secure your spot now</p>
      </article>
    </div>
    <div class="tile is-parent is vertical is-flex-mobile">
      <article class="tile is-child apply" routerLink="/contact">
        <a href="" routerLink="/contact"></a>
      </article>
    </div>
    
  </div>
  
</section>

